*{
  box-sizing: border-box;
}
body{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  font-size: 2rem;
}

.postagens{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 1rem;

}

.postagem{
  min-width: 32.5%;
  max-width: 32.5%;
  padding: 0 10px 0 10px;
  border:1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.data{
 width: 100%;
 text-align: right;
 color: #999;
}

input, textarea{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  border:1px solid #ccc;
}

button{
  padding: 10px;
  font-size: 1.2em;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  border: none;
  float: right;
}

.msg{
  padding: 2px 5px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.form{
  max-width: 700px;
  margin: 0 auto;
}

.usuarios{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.usuario{
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  padding: 0 1rem 0.5rem 1rem;
}